{% extends 'base.html' %}
{% block content %}
        <h1>Passagens</h1>
        <p>Sua Origem é: {{ form.origin.value }}</p>
        <p>Seu Destino é: {{ form.destiny.value }}</p>
        <p>Data de Ida é: {{ form.departure_date.value }}</p>
        <p>data de Retorno é: {{ form.return_date.value }}</p>
        <p>Pesquisa Realizada Em: {{ form.search_date.value }}</p>
        <p>Classe Escolhida: {{ form.class_type.value }}</p>
        <p>Informações Extras: {{ form.information.value }}</p>
        <p>email: {{ form.email.value }}</p>
{% endblock  %}
        
